* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  background: #2d3147;
  color: #fbfaf5;
}

.error-box {
  color: #ffffff;
  background-color: #ff8080;
  display: none;
  border-radius: 0.5em;
  border: 1px solid;
  margin: 10px 0px;
  padding: 12px;
  text-align: center;
}

/* Data Input Section */

.data-input-container {
  margin-top: 34px;
}
.data-input-header {
  text-align: center;
}
.data-input-container h2 {
  text-align: center;
}

.data-input-values {
  height: 210px;
  display: flex;
  flex-direction: column;
}

.region-dropdown {
  margin: auto;
}

.regions {
  padding: 5px 7px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fbfaf5;
  font-size: 18px;
}

.data-input-box {
  margin: auto;
  height: 16%;
  width: 40%;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #fbfaf5;
  transition: opacity 0.2s;
}

.data-input-box:hover {
  opacity: 0.6;
}

.region-label,
.realm-label,
.char-label {
  text-align: center;
}

.submit-btn {
  background-color: #fbfaf5;
  border: none;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-size: 16px;
  margin: auto;
  min-width: 80px;
  min-height: 26px;
  transition: opacity 0.2s;
}

.submit-btn:hover {
  opacity: 0.6;
}

/* Data Display Section */
.data-display {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.char-results {
  margin-bottom: 30px;
}

.char-results h4 {
  font-size: 30px;
}

.char-mythic-text {
  padding: 0 20px 0 20px;
}

/* Keystone Info Section */
.keystone-info {
  display: none;
}

.keystone-info h1 {
  text-align: center;
  margin-bottom: 22px;
  text-decoration: underline;
}

.fortified-header-container,
.tyrannical-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon img {
  max-width: 100%;
  border-radius: 2px;
}

.header-text h2 {
  padding-left: 8px;
}

.keystone-dungeon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 150px;
  margin: 10px auto 10px auto;
  cursor: pointer;
  background-size: cover;
  border-radius: 5px;
  color: #fff;
  font-size: 9px;
  letter-spacing: 2px;
  transition: background-image 0.2s;
}

.arrow-icon {
  position: absolute;
  font-size: 20px;
  color: #4db74d;
  top: 5%;
  left: 2%;
  display: none;
}

.arrow-icon-text {
  position: relative;
  top: 3px;
  left: 30px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.arrow-icon:hover .arrow-icon-text {
  opacity: 1;
}

/* Breakpoints */
@media (min-width: 768px) {
  .keystone-dungeon {
    width: 70%;
    font-size: 17px;
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .data-input-header {
    font-size: 46px;
  }

  .data-input-container h2 {
    font-size: 34px;
  }
  .data-input-values {
    height: 240px;
  }

  .region-label,
  .realm-label,
  .char-label {
    font-size: 25px;
  }

  .regions {
    font-size: 23px;
  }

  .data-input-box {
    height: 20%;
    width: 30%;
    font-size: 27px;
  }

  .submit-btn {
    min-width: 110px;
    min-height: 32px;
    font-size: 23px;
    margin-top: 15px;
  }

  .char-results img {
    height: 110px;
    width: 110px;
  }

  .char-results h4 {
    font-size: 36px;
  }

  .char-mythic-text h2 {
    font-size: 40px;
  }

  .keystone-runs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas:
      'fortified-header tyrannical-header'
      'fortified-runs tyrannical-runs';
  }

  .fortified-header {
    grid-area: fortified-header;
  }

  .tyrannical-header {
    grid-area: tyrannical-header;
  }

  .fortified-runs {
    grid-area: fortified-runs;
  }

  .tyrannical-runs {
    grid-area: tyrannical-runs;
  }

  .keystone-dungeon {
    width: 85%;
    font-size: 18px;
    height: 200px;
  }

  .arrow-icon-text {
    font-size: 13px;
  }
}
